@font-face {
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 400;
	src: url('./PT_Sans-normal-400.woff') format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 700;
	src: url('./PT_Sans-normal-700.woff') format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 400;
	src: url('./Roboto_Slab-normal-400.woff') format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 700;
	src: url('./Roboto_Slab-normal-700.woff') format('woff');
	unicode-range: U+0-10FFFF;
}

